.table-body-row {
    font-size: 0.75em;
}

.table-body-row--evenIndex {
    color: black;
    background-color: #F4F7E7;
}

.table-body-row--oddIndex {
    color: white;
    background-color: #436202; 
}

.table-body-row:hover {
    color: black;
    font-weight: 500;
    background-color: rgba(216, 235, 0, 0.5);
}