.table-body-row {
    font-size: 0.75em;
    font-weight: 500;
    color: black;
    background: linear-gradient(#F4F7E7, 98%, #F4F7E7, 1%, #436202);
}
/*
.table-body-row--evenIndex {   
}

.table-body-row--oddIndex {
}
*/

.table-body-row:hover {
    color: white;
    background: none;
    background-color: #436202;
}