nav {
    padding: 0.5em;
    font-size: 1em;
}

nav:hover {
    text-decoration: underline;
}

.nav ul {
    color: white;
    list-style: none;
}

.nav-link {
    text-decoration: none;
}

.nav-link-active {
    color: #D8EB00;
}

.nav-link-notActive {
    color: white;
}