.modal {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background-color: white;
    border: 0.25em solid #436202;
    border-radius: 0.5em;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-content p {
    font-weight: 500;
    font-size: 1.2em;
    padding: 1em;
}

.modal-closeButton {
    text-align: center;
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    width: 1.5em;
    height: 1.5em;
    color: white;
    background-color: #436202;
    border: none;
    border-radius: 50%;
    font-size: 1.25em;
    font-weight: 600;
    padding-bottom: 2px;
}
/*
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  */
