.table {
    border-collapse: separate;
    border-spacing: 0;
}

.table-title:first-child th:first-child {
    border-top-left-radius: 0.5em;
}

.table-title:first-child th:last-child {
    border-top-right-radius: 0.5em;
}

.table-titleColumn {
    font-size: 1em;
    color: white;
    background-color: #436202;
}

.titleColumn-content {
    margin: 0;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}