.logo {
    height: 100%;
    width: 15em;
    display: flex;
    flex-direction: row;
   /* justify-content: baseline;*/
    padding: 0.5em;
    background-color: white;
    border-radius: 0.2em;
    text-decoration: none;
    color:black;
}

.logo-text {
    font-family: 'Prosto One', cursive;
    letter-spacing: 1px;
    margin-right: 1em;
}

.logo-firstLetter {
    font-size: 1.125em;
}

.logo-textRest {
    font-size: 0.875em;
}

.logo-image {
    height: 3em;
    width: 3em;
    margin-right: 0.5em;
}