.header {
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: center;
  /* color: #576B04;*/
  background-color: #436202;
   /*color: white;*/
  padding: 0em 0.25em;
}

.header .box {
  flex: 1; 
}

.header .title {
  color: white;
  font-family: 'Prosto One', cursive;
/*  border: 1px solid black;*/
  letter-spacing: 1px;
 /* justify-self: flex-start;*/
}