.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #436202;
  padding: 0em 0.25em;
}

.header .box {
  flex: 1; 
}

.header .title {
  color: white;
  font-family: 'Prosto One', cursive;
  letter-spacing: 1px;
}