.paginate__button {
    cursor: pointer;
    padding: 0.75em;
    font-size: 0.875em;
    font-weight: 500;
    border-radius: 0.20em;
    background-color: white;
    border: none;
}

.paginate__button:hover {
    background-color: #D8EB00;
    color: black;
}

.paginate__button.current {
    background-color: #436202;
    color: #D8EB00;
}